# tuple
# Tuple is unchangeable 
# Tuble Must be ordered
# Tuple is denoted with ( )
# to access a value from a tuple we used the index location

In [1]:
numbers = (4,10,15,16,25,20,4,30,35,4,45,56,50,52,4,60)
print(type(numbers))

<class 'tuple'>

In [2]:
print(len(numbers))

16

In [6]:
print(numbers[5])

20

In [7]:
print(numbers[-11])

20

In [10]:
print(numbers[3:9])

(16, 25, 20, 4, 30, 35)

In [11]:
print(numbers.count(4))

4

In [12]:
print(numbers.index(60))

15

In [13]:
print(60 in numbers)

True

# List
# List is changeable 
# List can be  ordered or unorded
# List is denoted with [ ]
# to access a value from a List we used the index location

In [16]:
fruits = ['Apple','Cherry','Mango','Banana','Orange']
fruits.append('Pear')# The append fuction will add new value at the end of the existing list
print(fruits)

['Apple', 'Cherry', 'Mango', 'Banana', 'Orange', 'Pear']

In [17]:
second_fruit = ['Coconut','Apple','Rasberry','Lemon','SugarCane']
fruits.extend(second_fruit)# The extend function will add the value of another list or tuple to the specified list
print(fruits)

['Apple', 'Cherry', 'Mango', 'Banana', 'Orange', 'Pear', 'Coconut', 'Apple', 'Rasberry', 'Lemon', 'SugarCane']

In [18]:
fruits.insert(5,'Grape')# The insert function will add the new value at the specified location
print(fruits)

['Apple', 'Cherry', 'Mango', 'Banana', 'Orange', 'Grape', 'Pear', 'Coconut', 'Apple', 'Rasberry', 'Lemon', 'SugarCane']

In [19]:
fruits.sort() # The sort function will arrange the values in ascending order
print(fruits)

['Apple', 'Apple', 'Banana', 'Cherry', 'Coconut', 'Grape', 'Lemon', 'Mango', 'Orange', 'Pear', 'Rasberry', 'SugarCane']

In [20]:
fruits.pop(6)# The pop function will drop the value at the specified location
print(fruits)

['Apple', 'Apple', 'Banana', 'Cherry', 'Coconut', 'Grape', 'Mango', 'Orange', 'Pear', 'Rasberry', 'SugarCane']

In [21]:
fruits.remove('Grape')# The remove function will drop the specified value
print(fruits)

['Apple', 'Apple', 'Banana', 'Cherry', 'Coconut', 'Mango', 'Orange', 'Pear', 'Rasberry', 'SugarCane']

In [22]:
fruits.reverse()# The reverse will arrange your values in decsending order
print(fruits)

['SugarCane', 'Rasberry', 'Pear', 'Orange', 'Mango', 'Coconut', 'Cherry', 'Banana', 'Apple', 'Apple']

In [23]:
fruits2 = fruits.copy()# The copy function will make a duplicate of your list

In [24]:
fruits2.clear()# The clear function will remove all values from the list
print(fruits2)

[]

In [25]:
del(fruits2)
print(fruits2)

NameError: name 'fruits2' is not defined

In [26]:
details = {
    'Name':'Simeon',
    'Age':26,
    'Gender':'Male',
    'Weight':65,
    'Height':1.75
}

In [27]:
details['Gender']

'Male'

In [29]:
details.keys()

dict_keys(['Name', 'Age', 'Gender', 'Weight', 'Height'])

In [30]:
details.values()

dict_values(['Simeon', 26, 'Male', 65, 1.75])

In [31]:
details.items()

dict_items([('Name', 'Simeon'), ('Age', 26), ('Gender', 'Male'), ('Weight', 65), ('Height', 1.75)])

In [32]:
r = {'Height':1.80}
details.update(r)
details

{'Name': 'Simeon', 'Age': 26, 'Gender': 'Male', 'Weight': 65, 'Height': 1.8}

In [33]:
records1 = {
    'Names':['Ade','Ojo','Hope'],
    'Age':[15,14,16]
}
records1['Names'][1]

'Ojo'

In [34]:
records1 = {
    'Names':{'Name1':'Ade','Name2':'Ojo','Name3':'Hope'},
    'Age':{'Age1':15,'Age2':14,'Age3':16}
}
records1['Names']['Name2']

'Ojo'