# Fuction continue

In [1]:
import statistics as stat
def average(*args):# function to accept variable length of non keyword arguement
    print(type(args))
    print(stat.mean(args))
average(10,45,52,32)

<class 'tuple'>
34.75

In [2]:
numbers = [78,54,98,63,58,96,58,96,95,98,98]# Tuple unpacking
average(*numbers)

<class 'tuple'>
81.0909090909091

In [3]:
def records(**kwargs):
    print(type(kwargs))
    for keys, values in kwargs.items():
        print(keys, ':', values)
records(Name='Simeon',Age= 25, Gender = 'Male')

<class 'dict'>
Name : Simeon
Age : 25
Gender : Male

# Exercise
# Define a function to hold records of seven people with the following information
# Name, Age, Gender, State, LGA, Fav SPort and display the output

In [4]:
def records(**kwargs):
    print(type(kwargs))
    for keys, values in kwargs.items():
        print(keys, ':', values)
records(Name=['Simeon','Ade','Jane','Hope','Samuel','Page','Akin'],Age= [25,30,21,25,24,26,24], 
        Gender = ['Male','Male','Female','Female','Male','Female','Male'],State=['FCT','Oyo','Lagos','Kwara','Kaduna','Osun','Akwaibom'],
       Lga=['Bwari','Ido','Oshodi','Ilorin','Ape','Ilesha','Okobo'],FAVSPORT=['Soccer','Golf','Golf','Swimming','Soccer','Basketball','Golf'])

<class 'dict'>
Name : ['Simeon', 'Ade', 'Jane', 'Hope', 'Samuel', 'Page', 'Akin']
Age : [25, 30, 21, 25, 24, 26, 24]
Gender : ['Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male']
State : ['FCT', 'Oyo', 'Lagos', 'Kwara', 'Kaduna', 'Osun', 'Akwaibom']
Lga : ['Bwari', 'Ido', 'Oshodi', 'Ilorin', 'Ape', 'Ilesha', 'Okobo']
FAVSPORT : ['Soccer', 'Golf', 'Golf', 'Swimming', 'Soccer', 'Basketball', 'Golf']

# LAMBDA FUNCTION

In [6]:
(lambda x: x * x)(int(input('Please provide a number:')))

Please provide a number:20

400

In [7]:
(lambda x,y: x * y)(int(input('Please provide a number:')),int(input('Please provide a number:')))

Please provide a number:45
Please provide a number:12

540

In [10]:
# Write a lambda function to check if a password start with an uppercase letter
password = input('Please provide your password:')
if password[0] == password[0].upper():
    print('Login successful')
else:
    print('Invalid Password')

Please provide your password:Seyilaw12367
Login successful

In [11]:
(lambda password:'Login successful' if password[0] == password[0].upper() else 'Invalid Password' )(input('Please provide your password:'))

Please provide your password:Seyilaw23

'Login successful'

In [13]:
(lambda password:'Login successful' if password[0] == password[0].upper() and len(password) == 8 and password[-1] == '0' or password[-1] == '1'  or password[-1] == '2'else 'Invalid Password' )(input('Please provide your password:'))

Please provide your password:Seyilaw4

'Invalid Password'

# map is used for modification of string, list and tuple
# filter is used for selecting values in string, list and tuple

In [18]:
Name=['Simeon','Ade','Jane','Hope','Samuel','Page','Akin']

update_names = list(map(lambda x: str.upper(x),Name))
update_names

['SIMEON', 'ADE', 'JANE', 'HOPE', 'SAMUEL', 'PAGE', 'AKIN']

In [19]:
import random as rn
outcome = []
counter = 1 
while counter <= 50:
    num = rn.randint(15,50)
    outcome.append(num)
    counter = counter + 1

In [20]:
print(outcome)

[20, 18, 28, 23, 37, 21, 50, 26, 36, 19, 45, 29, 25, 47, 45, 39, 26, 31, 20, 49, 31, 50, 17, 50, 41, 46, 41, 35, 20, 18, 31, 44, 41, 18, 31, 15, 46, 16, 47, 25, 21, 36, 39, 24, 16, 35, 17, 15, 21, 26]

In [23]:
import math
outcom_sqrt =list(map(lambda x: math.sqrt(x),outcome))
print(outcom_sqrt)

[4.47213595499958, 4.242640687119285, 5.291502622129181, 4.795831523312719, 6.082762530298219, 4.58257569495584, 7.0710678118654755, 5.0990195135927845, 6.0, 4.358898943540674, 6.708203932499369, 5.385164807134504, 5.0, 6.855654600401044, 6.708203932499369, 6.244997998398398, 5.0990195135927845, 5.5677643628300215, 4.47213595499958, 7.0, 5.5677643628300215, 7.0710678118654755, 4.123105625617661, 7.0710678118654755, 6.4031242374328485, 6.782329983125268, 6.4031242374328485, 5.916079783099616, 4.47213595499958, 4.242640687119285, 5.5677643628300215, 6.6332495807108, 6.4031242374328485, 4.242640687119285, 5.5677643628300215, 3.872983346207417, 6.782329983125268, 4.0, 6.855654600401044, 5.0, 4.58257569495584, 6.0, 6.244997998398398, 4.898979485566356, 4.0, 5.916079783099616, 4.123105625617661, 3.872983346207417, 4.58257569495584, 5.0990195135927845]

In [22]:
outcom_selection =list(filter(lambda x: x > 20,outcome))
print(outcom_selection)

[28, 23, 37, 21, 50, 26, 36, 45, 29, 25, 47, 45, 39, 26, 31, 49, 31, 50, 50, 41, 46, 41, 35, 31, 44, 41, 31, 46, 47, 25, 21, 36, 39, 24, 35, 21, 26]